<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result Page</title>
</head>
<body>    
    <br>
    <h1 align="center">EfficientNet Results</h1>
    <br>
    <form align="center" action="/">
        <h2 align="center">TOP 5 ACC</h2>
        <table align="center">
            <tr>
                <td></td>
            </tr>
 
        </table>
        <br>
        <input type="submit" value="확인"/>
    </form>
    <br><br><br>
 
</body>
</html>