<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask identifier get</title>
</head>
<body>    
    <br>
    <h1 align="center">EfficientNet</h1>
    <br>
    <form align="center" action="/output" method="POST">
        <h2 align="center">Input identifier</h2>
        <h3 align="center">중간에 | 같은 선이 있다면 분할선이라고 입력하세요</h3>
        <table align="center">
            <tr>
                <td><input type="text" name="identifier" id = "identifier"></td>
            </tr>
        </table>
        <br><input type= "submit" value="확인"/>
    </form>
    <br><br><br>
 
</body>
</html>